.todo_form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}

.form_title {
  height: 40px;
  padding: 0 12px;
  font-size: 16px;
  border: 1px solid #ccc;

  border-radius: 6px;
  margin-right: 8px;
  background-color: #fff;
  color: #795549;
  box-sizing: border-box;
}

.form_title-error {
  border: 1px solid red;
}

.form_due-date {
  height: 40px;
  padding: 0 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-right: 8px;
  color: #795549;
}

.form_submit {
  height: 42px;
  padding: 0 20px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
}

.form_detail {
  height: 40px;
  padding: 0 20px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  color: #795549;
  cursor: pointer;
  width: 480px;
}
