body {
  background-color: #d7cdbe;
  color: #795549;
}

button {
  border: 1px solid #795549;
  background-color: #795549;
}

select {
  border: 2px solid #795549;
  padding: 5px;
  height: 42px;
  border-radius: 6px;
  font-size: 14px;
  color: #795549;
  font-weight: bold;
  width: fit-content;
}

label {
  padding: 5px;
}

h3 {
  font-weight: normal;
  margin: 0;
}
